html {
    font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
    font-family: placeholder: this should be the rest of the output you got from Google fonts
  }

  h1 { /*設定我們主要頁面標題的位置（Positioning）和風格（styling）*/
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #9f008a;
    text-shadow: 3px 3px 1px black;
  }
  
  p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }

  html {
    background-color: #DC0E3E;/*改變頁面顏色*/
  }

  body { /*設定 body 的風格（styling）*/
    width: 600px;/*將 body 寬度固定為 600 像素*/
    margin: 0 auto;/*元素外部的空間*/
    background-color: #ff0000;/*元素內容和矩形內容後面的顏色*/
    padding: 0 20px 20px 20px;/*內容周圍的空格（例如，段落文字周圍）*/
    border: 5px solid rgb(243, 239, 8);/*位於矩形內容外部的實線*/
  }

  img { /*把圖像置中*/
    display: block;
    margin: 0 auto;
    max-width: 500px;
    max-height: 500px;
    padding: 20px 20px 20px 20px;
    border: 5px solid rgb(243, 8, 192);
  }

  